@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goldman:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerTop{
    background-color:#000000 ;
    height: 80px;
    flex-shrink: 0;
}
.headerTopContent{
    color: #fff;
    padding: 15px 0;
    height: 80px;
}
.headerTopContentRight{
    font-size: 18px;
    height: 80px;
    width: 130px;
}
.headerTopContentLeft{
    font-size: 18px;
    height: 80px;
    width: 130px;
    
}
.headerTopContent a{
    color: #fff;
}
.headerTopContentMiddle img{
    position: absolute;
    width: 60px;
    border-radius: 50%;
    top: 1%;
    left: calc(50% - 30px);
    animation-name: headerTopAnimationImage;
    animation-duration: 1s;
    animation-delay:2s ;
    opacity: 0;
}
.headerTopContentLeft a:last-child{
    position: absolute;
    left: 24%;
    animation-name: headerTopAnimationIcon1;
    animation-duration: 1s;
    animation-delay: 0;
    
}
.headerTopContentLeft a:first-child{
    margin-right: 20px;
    position: absolute;
    left: 0%;
    animation-name: headerTopAnimationIcon2;
    animation-duration: 1s;
    animation-delay: 1s;
    color: #000000;
}
.headerTopContentRight a:last-child{
    margin-left: 20px;
    position: absolute;
    right: 0%;
    color: #000000;
    animation-name: headerTopAnimationIcon4;
    animation-duration: 1s;
    animation-delay: 1s;
}
.headerTopContentRight a:first-child{
    position: absolute;
    right: 24%;
    animation-name: headerTopAnimationIcon3;
    animation-duration: 1s;
    
}
.headerTopContent a:hover{
    font-size: 22px;
    color: #fff;
    text-shadow: #fff;
    transition: 300ms;
}
.mainPage{
    background-color: #0f0f0f;
    height: calc(90vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainPageContent{
    color: #fff;
}
.mainPageContent h1{
    font-size: 125px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    animation-name: titleFadeAnimation;
    animation-duration: 1.5s;
}
.mainPageContent p{
    font-size: 13px;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
}
.mainPageContent p #descPart1{
    animation-name: descAnimation1;
    animation-duration: 1.5s;
    color: #0f0f0f;
    animation-delay: 3s;
}
.mainPageContent p #descPart2{
    animation-name: descAnimation2;
    animation-duration: 1.5s;
    color: #0f0f0f;
    animation-delay: 3s;
}

.secondPage{
    background-color: #000000;
}

.secondPageContent{
    color: #fff;
}
.contactContent a{
    color: #fff;
}

.timelineArea p{
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}

#timelineTitle{
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.6s ease;
}
#timelineTitle.show {
    opacity: 1;
    transform: translateX(0);
}

.timelineBox p{
    font-size: 20px;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
}
.timelineBox{
    background:#0f0f0f;
  backdrop-filter: blur(6px);
  border: 1px solid #222;
    border-radius: 20px;
    transition: all 0.6s ease;
    animation-delay: 0;
    opacity: 0;
    transform: translateY(40px);
}
.timelineBox.show {
    opacity: 1;
    transform: translateY(0);
}
.timelineBox:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(255,255,255,0.15);
}
.timelineBoxes{
    border-left: 0px solid white;
}
.timelineBoxes.show {
    border-left: 1px solid white;
}
.timelineNokta h1{
    position: absolute;
    left: -7%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: default;
}
@keyframes headerTopAnimationIcon1{
    0%{
        left: 0%;
        color: #000000;
    }
    100%{
        left: 24%;
        color: #fff;
    }
}
@keyframes headerTopAnimationIcon2{
    0%{
        left: 0%;
        color: #000000;
    }
    100%{
        left: 20%;
        color: #fff;
    }
}
@keyframes headerTopAnimationIcon3{
    0%{
        right: 0%;
        color: #000000;
    }
    100%{
        right: 24%;
        color: #fff;
    }
}
@keyframes headerTopAnimationIcon4{
    0%{
        right: 0%;
        color: #000000;
    }
    100%{
        right: 20%;
        color: #fff;
    }
}

@keyframes headerTopAnimationImage{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        top: 1%;
        opacity: 100%;
    }
}
@keyframes titleFadeAnimation{
    0%{
        color: #0f0f0f;
    }
    100%{
        color: #fff;
    }
}

@keyframes descAnimation1{
    0%{
        margin-right: 100px;
        color: #0f0f0f;
    }
    100%{
        margin-right: 0;
        color: #fff;
    }
}
@keyframes descAnimation2{
    0%{
        color: #0f0f0f;
    }
    100%{
        color: #fff;
    }
} 


@media(max-width:768px){
    @keyframes headerTopAnimationIcon4{
        0%{
            right: 0%;
            color: #000000;
        }
        100%{
            right: 13%;
            color: #fff;
        }
    }
    @keyframes headerTopAnimationIcon2{
        0%{
            left: 0%;
            color: #000000;
        }
        100%{
            left: 13%;
            color: #fff;
        }
    }
    .timelineNokta h1{
    position: absolute;
    left: -11.25%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: default;
    }
    .timelineTitle{
        margin-left: 15px;
    }
}
