@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goldman:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerTop{
    background-color:#000000 ;
    height: 80px;
    flex-shrink: 0;
}
.headerTopContent{
    color: #fff;
    padding: 15px 0;
    height: 80px;
}
.headerTopContentRight{
    font-size: 18px;
    height: 80px;
    width: 130px;
}
.headerTopContentLeft{
    font-size: 18px;
    height: 80px;
    width: 130px;
    
}
.headerTopContent a{
    color: #fff;
}
.headerTopContentMiddle img{
    position: absolute;
    width: 60px;
    border-radius: 50%;
    top: 0.8%;
    left: calc(50% - 30px);
    animation-name: headerTopAnimationImage;
    animation-duration: 1s;
    animation-delay:2s ;
    opacity: 0;
}
.headerTopContentLeft a:last-child{
    position: absolute;
    left: 24%;
    animation-name: headerTopAnimationIcon1;
    animation-duration: 1s;
    animation-delay: 0;
    
}
.headerTopContentLeft a:first-child{
    margin-right: 20px;
    position: absolute;
    left: 0%;
    animation-name: headerTopAnimationIcon2;
    animation-duration: 1s;
    animation-delay: 1s;
    color: #000000;
}
.headerTopContentRight a:last-child{
    margin-left: 20px;
    position: absolute;
    right: 0%;
    color: #000000;
    animation-name: headerTopAnimationIcon4;
    animation-duration: 1s;
    animation-delay: 1s;
}
.headerTopContentRight a:first-child{
    position: absolute;
    right: 24%;
    animation-name: headerTopAnimationIcon3;
    animation-duration: 1s;
    
}
.headerTopContent a:hover{
    font-size: 22px;
    color: #fff;
    text-shadow: #fff;
    transition: 300ms;
}
.mainPage{
    background-color: #0f0f0f;
    height: calc(90vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainPageContent{
    color: #fff;
}
.mainPageContent h1{
    font-size: 125px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    animation-name: titleFadeAnimation;
    animation-duration: 5s;
}
.mainPageContent p{
    font-size: 13px;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
}
.mainPageContent p #descPart1{
    animation-name: descAnimation1;
    animation-duration: 1.5s;
    color: #0f0f0f;
    animation-delay: 3s;
}
.mainPageContent p #descPart2{
    animation-name: descAnimation2;
    animation-duration: 1.5s;
    color: #0f0f0f;
    animation-delay: 3s;
}

.footer{
    background-color: #000000;
}

.footerContent{
    color: #fff;
}
.contactContent a{
    color: #fff;
}
.contactContent a:hover{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 200ms;
}
.contactLine{
    animation-name: contactLineAnimation;
    animation-duration: 1s;
}
@keyframes headerTopAnimationIcon1{
    0%{
        left: 0%;
        color: #000000;
    }
    100%{
        left: 24%;
        color: #fff;
    }
}
@keyframes headerTopAnimationIcon2{
    0%{
        left: 0%;
        color: #000000;
    }
    100%{
        left: 20%;
        color: #fff;
    }
}
@keyframes headerTopAnimationIcon3{
    0%{
        right: 0%;
        color: #000000;
    }
    100%{
        right: 24%;
        color: #fff;
    }
}
@keyframes headerTopAnimationIcon4{
    0%{
        right: 0%;
        color: #000000;
    }
    100%{
        right: 20%;
        color: #fff;
    }
}

@keyframes headerTopAnimationImage{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        top: 1.5%;
        opacity: 100%;
    }
}
@keyframes titleFadeAnimation{
    0%{
        color: #0f0f0f;
    }
    100%{
        color: #fff;
    }
}

@keyframes descAnimation1{
    0%{
        margin-right: 100px;
        color: #0f0f0f;
    }
    100%{
        margin-right: 0;
        color: #fff;
    }
}
@keyframes descAnimation2{
    0%{
        color: #0f0f0f;
    }
    100%{
        color: #fff;
    }
}
@keyframes contactLineAnimation{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


@media(max-width:768px){
    @keyframes headerTopAnimationIcon4{
        0%{
            right: 0%;
            color: #000000;
        }
        100%{
            right: 13%;
            color: #fff;
        }
    }
    @keyframes headerTopAnimationIcon2{
        0%{
            left: 0%;
            color: #000000;
        }
        100%{
            left: 13%;
            color: #fff;
        }
    }

}
